@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
 
}
body {
  background-color: #ffffff;
  color: #333333;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.7;
  letter-spacing: 0;
  font-weight: bold;
}




img {
  width: 100%;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
blockquote,
code,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
iframe,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
footer,
header,
nav,
section,
main {
  display: block;
}

li,
ol {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
/*大テキスト*/

/*小テキスト*/
.txts{
  font-size: 16px;
  text-align: left;
}
/*ヘッダーカスタマイズ*/
.header{
  height: 94px;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 9999;
  width: 100%;
  box-shadow: 0 3px 6px  rgba(0, 0, 0, 0.16);
}
.header__logo{
  display: flex;
  align-items: center;
}
.ttl{
  display: inline-block;
  margin-left: 16px;
  color: black;
}
.header__inner{
  margin: 0 auto;
  max-width: 1022px;
  padding: 0px 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner img{
  width: 47px;
  height: 47px;
}
.nav{
  display: inline-block;
}
.nav__list{
  display: flex;
}
.nav__item{
  margin: auto 23px;
}
a.nav__item--link{
  color:#333333;
}
.header__btn{
  width: 155px;
  display: inline-block;
  height: 37px;
  line-height: 37px;
text-align: center;
box-shadow: 0 3px 6px;
background: linear-gradient(to right, #FA41CF, #6020B0);
color: #ffffff;
border-radius: 10px;
font-size: 14px;
}
/*ハンバーガーメニュー*/
.hamburger {
  display: none;
}
.hamburger-btn {
  display: none;
}
.hamburger.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*//ハンバーガーメニュー*/
/*ヘッダーカスタマイズ終了*/


/*共通要素*/
.section__ttl{
  font-size: 32px;
  margin-bottom: 19px;
  text-align: center;
  border-radius: 10px;
  max-width: 100%;
}

.section__ttl--text{
  font-size: 16px;
  color: #3BA6C9;
  text-align: center;
  line-height: 1.18;
  margin-bottom: 65px;
}
.txtl{
  font-size: 32px;
  text-align: left;
}
.txtm{
  font-size: 24px;
  text-align: left;
}
.txts{
  font-size: 16px;
  text-align: left;
}

/*ファーストビューカスタマイズ*/
.main{
  background-image: url(../img/main-circle.png);
  background-position: top -150px right -85px;
  background-repeat: no-repeat;
  position: relative;
  background-size: 900px 900px;
}
.main-inner{
  max-width: 1022px;
  margin-left:  auto;
  margin-right: auto;
  padding: 168px 20px 155px;
}
.main-copy{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.main-copy h2{
  font-size: 32px;
  line-height: 1.8;
  margin-bottom: 38px;
}
.main-copy p{
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 39px;
}
.main-img{
  position: absolute;
  right: 15%;
  top: 20%;
z-index: 1000;
}

/*コーディングセクション*/
.section__inner{
  margin-right: auto;
  margin-left: auto;
  max-width: 1039px;
  margin-bottom: 93px;
}
.section__flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section__inner h3{
  text-align: center;
  margin-bottom: 54px;
  font-size:28px;
}
.coding--copy{
}
.coding--copy__txtl{
  font-size: 24px;
  line-height: 2;
  margin-bottom: 54px;
}
.coding--copy__txts{
  font-size: 16px;
line-height: 1.6;
}
.section{
  padding: 80px 20px 150px;
  margin-right: auto;
  margin-left: auto;
}
.under-section{
  padding:64px 20px 90px;
  margin-right: auto;
  margin-left: auto;
}
.section__high{
  max-width:1010px ;
}


.response{
  max-width: 922px;
}

/*コーディングセクション終了*/

/*プライスセクション*/
.under-sectionblue{
  background-color:#EEFBFB;
  padding: 64px 20px 71px;
  margin-left: auto;
  margin-right: auto;
}
.section__price{
  margin-left: auto;
  margin-right: auto;
  max-width: 926px;
}

.price__table{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  
  margin-bottom: 41px;
}

.price__table--inner{
  width: 100%;
  text-align: center;
  table-layout: fixed;
}
.price__table--row{
  background-color: #fff;

}
.price__table--header{
  font-size: 16px;
  line-height: 1.75;
  padding: 19px;
  border-right:1px  #E5E5E5;
  border-bottom: 1px #E5E5E5;
  vertical-align: middle;
}
.price__table--text{
  font-size: 16px;
  padding-left: 30.5px;
  border-bottom: 1px #E5E5E5;
  vertical-align: middle;
  text-align: left;
}
.alert{
  text-align: center;
}
.price__table--header:last-child,.price__table--text:last-child{
  border-right-width:0;
}
.price__table--row:last-child .price__table--text{
  border-bottom-width: 0;
}
/*プライスセクション終了*/
/*よくある質問*/
.questions__box{
  border: 1px #E5E5E5;
  max-width: 907px;
  margin-left: auto;
  margin-right: auto;
}
.aco-contents .open{
  display: block;
}
.answer__txt{
  background-color: #F2F2F2;
padding: 21px;
border-top:1px #E5E5E5 ;
display: none;
}
.answer__txt p{
  font-size: 14px;
  line-height: 1.85;
}

.question__ttl{
  padding: 22px;
  text-align: center;
  cursor: pointer;
}
.question__ttl:hover{
  opacity: 0.25;
}
/*よくある質問終了*/
/*ブログカスタマイズ*/
.blog__inner{
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
    margin-left: auto;
    max-width: 1227px;
    width: 100%;
    margin-bottom: 20px;
}
.blog___card__img--wrapper{
  position:relative;
  padding-top:66.25%;
  overflow:hidden;
}
.blog___card__img--wrapper img{
position: absolute;
top: 50%;
width: 100%;
transform: translateY(-50%);
}
.blog___card{
  box-shadow: 0 3px 6px;
  width:31.7%;
  display: flex;
  flex-direction: column;
  margin-right: 2.45%;
  background-color: #fff;
  cursor: pointer;
}
.blog___card:nth-of-type(3n) {
margin-right: 0;
}

.blog___card__body--title{
  flex: 1 1 auto;
  -webkit-box-flex: 1;
}
.blog___card__title{
  text-align: left;
  font-size: 18px;
  line-height: 1.44;
}
.blog___card__body--title1{
  padding:19px 30px 63px 18px;
}
.blog___card__body--title2{
  padding:19px 30px 11px 18px;
}
.blog___card__body--title3{
  padding:19px 49px 36px 18px;
}
.blog__text--wrapper{
  padding: 0 38px 11px;
}
.blog___card__text{
  text-align: right;
  font-size: 16px;
  line-height: 1.6;
}
/*ブログカスタマイズ終了*/


/*制作実績*/
.slider-section{
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
  padding-bottom: 90px;
}

.card{
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 28px;
margin-left: 28px;
}

.card:hover{
  opacity: 0.45;
}

.card__img--wrapper{
  position: relative;
  overflow:hidden;
}
.card__img{
  position: absolute;
  /*天地中央揃え*/
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}
.card__body{
  padding: 19px;
}

.card__title{
margin-bottom: 32px;
font-size: 16px;
line-height: 24px;
}
.card__text{
  font-size:14px;
  line-height: 21px;
}
/*制作実績終了*/
.section__contact{
  padding:72px 20px 70px;
  margin-right: auto;
  margin-left: auto;
}
/*お問い合わせ*/
.section__contact{
  background:-webkit-linear-gradient(left, #05A5FA 50%, #63FBD7);
}
.section__contact .section__ttl{
  color: #fff;
}
.section__contact .section__ttl--text{
  font-size: 16px;
  margin-bottom :42px;
  color: #fff;
}
.section__contact .section__ttl--subtext{
  font-size: 16px;
  margin-bottom :44px;
  color: #fff;
  line-height: 1.18;
  text-align: center;
}
label{
  display: block;
}
.label__box{
  margin-bottom: 44px;
  margin-top: 27px;
}
/*必須のbackground-color*/
.form-label-required{
  padding: 8px 16px;
  background-color:#0C449B;
  color: #fff;
  border-radius: 10px;
  margin-left: 23px;
 
}

.input{
  height: 43px;
  background-color: #EEFBFB;
border-radius: 3px ;
border: #E5E5E5;
max-width: 499px;
width: 100%;
}

.textarea{
  resize:none;
  height: 179px ;
  width: 100%;
  max-width: 783px;
  background-color: #EEFBFB;
  border-radius: 3px ;
border: #E5E5E5;
}

.privacyCheck{
  display: inline-block;
}
.box__privacy{
  text-align: center;
  margin-top: 32px;
  margin-bottom: 33px;
}
.form__inner{
  max-width: 1022px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 70px;
}
.form-wrapper{
  background-color: #fff;
  padding: 62px 35px;
  max-width: 908px;
  width: 100%;
  margin: auto;
}
.submit{
  margin: 0 auto;
}
.submit-btn{
  width: 155px;
  height: 37px;
  line-height: 37px;
text-align: center;
display: inline-block;
box-shadow: 0 3px 6px;
background: linear-gradient(to right, #FA41CF, #6020B0);
color: #ffffff;
border-radius: 10px;
cursor: pointer;
font-size: 14px;
border: none;
}
.box__submit{
  text-align: center;
}
.submit-btn:hover{
  opacity: 0.4;
}
/*お問い合わせカスタマイズ*/
/*コンタクトメッセージ*/
.end-message {
  display: none;
}

.false-message {
  display: none;
}
/*フッターセクション*/
.footer{
  padding: 50px 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F8F8F8;
}
.footer__txtm{
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
}
.footer__txts:last-child{
  margin-left: 30px;
}
.footer__txts{
  font-size: 16px;
  line-height: 1.75;
  color: #333333;
}
.footer__flex{
  display: flex;
max-width: 382px;
width: 100%;
margin: 30px auto 0;
}
.copy__light{
  text-align: center;
  margin-top: 59px;
  font-size: 14px;
  line-height:1.21;
  font-weight:normal;
}
